[mysql]
# 文字セット指定
default-character-set=utf8

[client]
# 文字セット指定
default-character-set=utf8

[mysqld]
# 文字セット指定
character-set-server=utf8
# default-character-set=utf8
# collation_server=utf8mb4_ja_0900_as_cs
# default_collation_for_utf8mb4=utf8mb4_general_ci

# トランザクション分離レベルの変更
transaction-isolation = READ-COMMITTED
binlog_format = ROW

# ロック待機時間
innodb_lock_wait_timeout = 1

# オートコミットしない
autocommit = 0

# 識別子の大文字と小文字の区別をしない
lower_case_table_names = 1

# packet size
max_allowed_packet = 16777216
innodb_log_file_size = 536870912

# ログ設定
general_log = 1
general_log_file = /var/log/mysql/general.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0.5
log_error = /var/log/mysql/error.log
